<% title "Town" %>

<p>
  <strong>Name:</strong>
  <%= @town.name %>
</p>
<p>
  <strong>State:</strong>
  <%= @town.state %>
</p>
<p>
  <strong>Description:</strong>
  <%= @town.description %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @town.lat %>
</p>
<p>
  <strong>Lon:</strong>
  <%= @town.lon %>
</p>

<%= image_tag @town.create_map_link %>

<p>
<b>Attractions in <%= @town.name %>:</b>
  <ol>
    <% for attraction in @attractions %>
	  <li><%= attraction.name %> - <%= attraction.street %></li>
	<% end %>
  </ol>
</p>
<p>
  <%= link_to "Edit", edit_town_path(@town) %> |
  <%= link_to "Destroy", @town, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", towns_path %>
</p>
