<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!--// *NOTE: Formtastic needs the xmlns attribute for stylesheets to work right //-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>ChoreTracker :: <%= h(yield(:title) || "Untitled") %></title>
    <%# yield(:head) %>
  	<link rel="shortcut icon" href="/gc_favicon.ico" type="image/x-icon" />
	
	<!--// caching is optional, but given so many css files, it makes it a little faster //-->
	<!--// also note there have been some problems with formtastic using the formtastic-changes properly //-->
	<%= stylesheet_link_tag 'text', 'layout', 'datagrid', 'formtastic', 'formtastic-changes', :cache => 'base' %>
	
  </head>

  <body>
	<div id="wrap">
  	<%= link_to '<div id="header"></div>', chores_path %>
		<br />
      <div id="nav">
      	<ul>
          	<!-- OPTIONS FOR EVERYONE -->
       		<li><%= link_to 'Children', children_path %></li>
				<li><%= link_to 'Chores', chores_path %></li>
				<li><%= link_to 'Tasks', tasks_path %></li>
				<% if logged_in? %>
				<li><%= link_to 'Logout', logout_path %></li>
				<% else %>
				<li><%= link_to 'Login', login_path %></li>
				<% end %>
			</ul>
      </div> <!-- end of nav div -->
		<div style="clear:both;"></div>
  	<div id="body">
			<p style="color: green" id="notice"><%= flash[:notice] %></p>
			<%= yield %>
		</div> <!-- end of body div -->

	</div><!-- end of wrap div -->
  </body>
</html>

