<h1>Listing bands</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Playing next</th>
    <th>When playing next</th>
    <th>Photo</th>
    <th>Song</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bands.each do |band| %>
  <tr>
    <td><%= band.name %></td>
    <td><%= band.description %></td>
    <td><%= band.playing_next %></td>
    <td><%= band.when_playing_next %></td>
    <td><%= band.photo %></td>
    <td><%= band.song %></td>
    <td><%= link_to 'Show', band %></td>
    <td><%= link_to 'Edit', edit_band_path(band) %></td>
    <td><%= link_to 'Destroy', band, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Band', new_band_path %>
