<% title "Band Information :: #{h @band.name}" %>

<h1>
  <%= @band.name %>

<span class="options">
	
		<%= link_to "Edit band", edit_band_path(@band) %> |
	
	
		<%= link_to "Remove band", @band, :confirm => 'Are you sure?', :method => :delete %> |
		
  <%= link_to "View other bands", bands_path %>
</span>
</h1>
<p>
	<% if @band.photo_url.nil? || @band.photo_url.include?("missing") %>
		<%= image_tag "missing.png" %>
	<% else %>
  	<%= image_tag @band.photo_url %>
	<% end %>
	<strong>Description:</strong>
  <%= @band.description %>
</p>
<p class="clear"></p>
<p>
	<% unless @band.song_url.nil? %>
		<%= link_to "Click here to download a music sample", @band.song_url %>
	<% end %>
	
</p>
<p>
	<strong><%= "#{(@band.genres.size == 1) ? 'Band genre is:' : 'Band genres include:'}" %></strong>
	<ul>
		<% for genre in @band.genres  %>
			<li><%= genre.name %></li>
		<% end  %>
	</ul>
</p>
<% unless @band.playing_next.blank? %>
	<p>
	  <strong>Playing next at:</strong>
	  <%= @band.playing_next %>
	</p>
	<p>
	  <strong>When playing next:</strong>
	  <%= @band.when_playing_next.strftime("%b %e") %>
	</p>
<% end %>

<!-- <%# unless @band.comments.empty? || @band.comments.nil? %>
	<p>
		<strong><%# pluralize(@band.comments.size, 'comment') %> about <%# @band.name %> so far...</strong><br>
		<%# render :partial => "comment_list" %>
	</p>
<%# end %>
<p>
	<%# render :partial => "comment_form" %>
</p> -->