
<table>
	<tr valign="top">
		
		<td width="300">
			<br />
			<h2>Child Details</h2>
			<p class="supertiny">&nbsp;</p>
			<b>First Name:&nbsp;&nbsp;</b>
			  <%=h @child.first_name %><br /><br />
			
			<b>Last Name:&nbsp;&nbsp;</b>
			  <%=h @child.last_name %><br /><br />
			
			<b>Active?&nbsp;&nbsp;</b>
			  <%=h @child.active.to_s.capitalize %><br /><br />
		</td>
		<td width="45">&nbsp;</td>
		<td width="300">
			<br />
			<% unless @upcoming_chores.empty? %>
			<h2>Upcoming Chores:</h2>
			<p class="supertiny">&nbsp;</p>
			  <%= render :partial => "upcoming_chores" %>
			  <p class="supertiny">&nbsp;</p>
			<% end %>
		</td>
	</tr>
</table>
<ul>
	<li><%= link_to 'Edit this child', edit_child_path(@child) %> </li>
	<li><%= link_to 'Add a new child', new_child_path %> </li>
	<li><%= link_to 'Back to listing', children_path %> </li>
</ul>
